/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {

  --primary-color: #3B7AE8;
  --theme-bg-color: #1c1f28;
  --theme-color: #13151b;
  --heading: #1c1f28;
  --secondary-color: #8492bb;
}

.dark-mode{

}

* {
  font-family: 'Montserrat', sans-serif;
}
.regular {
  font-weight: 400;
}
.semi-bold {
  font-weight: 600;
}
.bold{
  font-weight: 700;
}

.button-style{
  background: var(--primary-color);
}

.button-style:hover, .button-style:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--primary-color);
  transform: translateY(-0.25em);
}

.gradient{
  background-image: var(--primary-color);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

#button-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 998;
  transition: 0.25s;
}
#button-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 50px;
  color: #fff;
}
#button-to-top:active {
  background-color: #555;
}

#button-to-top:hover {
  cursor: pointer;
}
#button-to-top.show {
  opacity: 1;
  visibility: visible;
}

/*--------------------------------------------------------------
# End back to top button
--------------------------------------------------------------*/

body {
  margin: 0;
  border: 0;
  background-color: #ffffff;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar .navbar__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 90px 30px 90px;
  font-weight: 600;
  background: #ffffff;
  z-index: 1;
  position: fixed;
  box-sizing: border-box;
  right: 0;
  left: 0;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05);
}


.navbar .navbar__wrapper .navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.navbar .navbar__wrapper .navbar__menu .navbar__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 25px;
}

.navbar .navbar__wrapper .navbar__link a{
  display: block;
  position: relative;
  text-decoration: none;
  color: var(--heading);
  text-align: center;
  padding: 14px 16px;
  font-size: 15px;
  transition: 0.25s;
}

.navbar .navbar__wrapper .navbar__link a#about-button{
  color: white;
  border: 0;
  margin: 0;
  border-radius: 11px;
  transition: 0.25s;
}

.navbar .navbar__wrapper .navbar__link a:hover{
  color: var(--primary-color);
}

.navbar .navbar__wrapper .navbar__brand {
  color: var(--heading);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 14px 0;
  z-index: 2;

}



/* ------- Icon navbar ------- */
#nav-icon3 {
  width: 19px;
  height: 17px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

/* lines of Icon*/
#nav-icon3 span {
  display: none;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--heading);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 14px;
}

#nav-icon3.open span:nth-child(1) {
  top: 7px;
  width: 0;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%;
}

/* ------- End Icon navbar ------- */



/* ------- Responsive Navbar ------- */

.navbar-responsive {
  color: #fff;
  position: absolute;
  height: 100vh;
  width: 100%;
  transform: translate3d(-100%, 0, 0);
  transition: 0.3s all ease-in-out;
  z-index: 1;
  top:0;
}
.navbar-responsive:after {
  content: "";
  z-index: -1;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
.navbar-responsive .navbar-responsive__nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: calc(50% - 65px);
  transform: translate(-50%, -50%);
  list-style: none;
  gap: 25px;
  padding: 0;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link {
  text-align: center;
  letter-spacing: 2px;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  transition: 0.25s;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a:after {
  top: 50%;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a:hover {
  color: var(--primary-color)
}

.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a#about-button-responsive{
  color: white;
  border: 0;
  margin: 0;
  border-radius: 11px;
  transition: 0.25s;
}


@media (max-width: 768px) {
  .navbar__nav {
    display: none !important;
  }

  #nav-icon3 span {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .navbar__responsive {
    transform: translate3d(-100%, 0, 0) !important;
  }
}

@media screen and (max-width: 414px){

  .navbar .navbar__wrapper {
    padding: 30px 40px 30px 40px;
  }
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  max-width: 1440px;
  /*height: calc(100vh - 130px);*/
  height: 700px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  margin: 0px auto auto;
  background:url("../img/hero-bg.png") no-repeat top left, url("../img/hero-background-right.png") no-repeat top right ;
  background-position-y: -130px ;

}

#hero .left-container, #hero .right-container{
  margin-top: -130px;
}


#hero .name, #hero .hello {
  margin: 0;
  color: var(--heading);
}

#hero .name{
  font-size: 64px;
}


#hero .hello{
  font-size: 26px;
}

#hero p {
  color: var(--heading);
  margin: 15px 0 0 0;
  font-size: 30px;
}

#hero p span {
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  width: 27px;
  height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-right: 20px;
  transition: 0.3s;
  background: var(--secondary-color);
  border-radius: 30px;
  padding: 6px;
  text-decoration: none;
}

#hero .social-links a:hover {
  background: var(--primary-color);
  box-shadow: 0 0.5em 0.5em -0.4em var(--light-blue);
  transform: translateY(-0.25em);
}



@media screen and (max-width: 992px) {
  #hero .hello {
    font-size: 20px;
  }

  #hero .name{
    font-size: 50px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 744px){
  #hero {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: start;
    padding: 0 40px;
    height: auto;
  }

  #hero .left-container, #hero .right-container{
    margin-top: 0;
  }

  #hero .left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hero .social-links a{
    margin-right: 0;
  }

  #hero .social-links{
    display: flex;
    gap:20px;
  }

}


@media screen and (max-width: 410px){
  #hero{
    padding: 0;
  }

  #hero .hello {
    font-size: 17px;
  }

  #hero .name{
    font-size: 40px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 17px;
  }

}






/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
  max-width: 1440px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  margin: 0px auto auto;
  gap: 80px;
  background: #4a4dfb;

}

#about .title-section{
  font-size: 40px;
  display: inline-block;
}

#about .left-container img{
  width: 200px;
  border-radius: 50%;
}

#about .right-container h1, #about .right-container p{
  color: var(--heading);
}

#about .right-container h1{
  margin-top:0;
}


#about .right-container p{
  margin:0;
  text-align: justify;
  line-height: 1.5;
}


@media screen and (max-width: 744px){
  #about {
    flex-direction: column;
    text-align: center;
    justify-content: start;
    padding: 0 40px;
    height: auto;
    gap:20px;
    margin-top:120px;
  }
}


/*--------------------------------------------------------------
# Resume Section
--------------------------------------------------------------*/
#resume {
  max-width: 1440px;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 90px;
  margin: 0px auto auto;
}

#resume .title-section{
  font-size: 40px;
  display: inline-block;
  margin-top:0;
  color: var(--heading);
}

#resume p{
  color: var(--heading);
  margin:0;
  text-align: justify;
  line-height: 1.5;
}

#resume .row{
  padding: 0 90px;
}

#resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--heading);
}
#resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--light-blue);
  position: relative;
}



#resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
#resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  border-radius: 11px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
#resume .resume-item ul {
  padding-left: 20px;
}
#resume .resume-item ul li {
  padding-bottom: 10px;
}
#resume .resume-item:last-child {
  padding-bottom: 0;
}
#resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -10px;
  top: 0;
  background: var(--light-blue);
  border: 2px solid var(--light-blue);
}


/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/
#projects {
  max-width: 1440px;
  position: relative;
  margin: auto;
  padding: 65px 90px;
}

#projects #top-section-projects{
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
  align-items:center;
}

#projects #top-section-projects button{
  width: 30px;
  height: 30px;
  border: 0;
  margin: 0;
  color: white;
  border-radius: 11px;
  transition: 0.25s;
  cursor: pointer;
}

#projects .title-section{
  font-size: 40px;
  display: inline-block;
  margin:0;
}

.wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

/* single card */
.card{
  background-color: var(--theme-color);
  width: 500px;
  border-radius: 11px;
  box-shadow: 0 .5rem 1.2rem var(--theme-color);
  padding: 20px;
  display: flex;
}
.card .left-card{
  width: 168px;
  height: 168px;
  background-color: red;
  padding: 3px;
  margin-right: 27px;
  border-radius: 5px;
  /*border-radius: 11px 11px 0 0;*/
}

.card .right-card{
  width: 277px;
}

.card .left-card img{
  width: 100%;
}

.card .right-card .topic{
  text-transform: uppercase;
}

.card .right-card .title-project{
  margin-top: 0;
  color: var(--heading);
}

.right-card .external-links {
  display: flex;
  gap:20px;
}

.right-card .external-links a {
  font-size: 22px;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: 0.3s;
  background: var(--secondary-color);
  border-radius: 30px;
  padding: 6px;
  text-decoration: none;
}

.right-card .external-links a:hover {
  background: var(--primary-color);
  box-shadow: 0 0.5em 0.5em -0.4em var(--primary-color);
  transform: translateY(-0.25em);
}


@media screen and (max-width: 744px){
  #projects {
    padding: 0 40px;
    margin-top: 100px;
    text-align: center;
  }

  #projects .title-section{
    font-size: 40px;
  }

  .card{
    width: 297px;
    flex-direction: column;
    padding: 0;
  }


  .card .left-card{
    width: 100%;
    padding: 0;
    margin-right: 0;
    border-radius: 11px 11px 0 0;
  }

  .card .right-card{
    width: 259px;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  .card .left-card img{
    width: 100%;
  }

}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
#background-section{
  max-width: 1440px;
  position: relative;
  margin-top:200px;
  margin: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background:url("../img/Frame1.png") no-repeat center left, url("../img/Frame2.png") no-repeat center right;
  padding: 0 90px;
}

#background-section #left-hand{
  width: 400px;
  position: absolute;
  left: 0;
  top: 200px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#background-section #right-hand{
  width: 400px;
  position: absolute;
  right: 0;
  top: 200px;
}

#background-section #top-hand
{
  display: none;
  width: 250px;
  position: absolute;
  top:0;
  right: 0;

}

#background-section #bottom-hand{
  display: none;
  width: 250px;
  position: absolute;
  bottom:0;
  left: 0;
  rotate:-180deg;
}

#contact {
  text-align: center;
}

#contact .title-section{
  font-size: 40px;
  display: inline-block;
  margin-top: 0;
}

#contact #contact-content #email, #contact #contact-content #cell-phone{
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

@media screen and (max-width: 1049px){
  #background-section #left-hand, #background-section #right-hand{
    width: 300px;
  }
}


@media screen and (max-width: 866px){
  #background-section #left-hand, #background-section #right-hand{
    width: 200px;
  }
}

@media screen and (max-width: 646px){
  #background-section{
    margin-top:100px;
  }
  #background-section #left-hand, #background-section #right-hand{
    display: none;
  }

  #background-section #top-hand, #background-section #bottom-hand{
    display: block;
  }
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

.site-footer
{
  max-width: 1440px;
  height: 100px;
  background:var(--primary-color);
  padding:20px 90px 20px 90px;
  font-size:15px;
  line-height:24px;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.site-footer .copyright-text{
  text-align: center;
}

@media screen and (max-width: 410px){
  .site-footer
  {
    font-size:12px;
  }
}
