/*--------------------------------------------------------------
# General rgb(215, 176, 88)
--------------------------------------------------------------*/
:root {

  --primary-color:#3B7AE8;
  --theme-bg-color: rgb(247, 247, 247);
  --theme-color: #2b2b2b;
  --heading: #2b2b2b;
  --secondary-color: #484848;
  --fs-title-resp:30px;
  --fs-p-resp:14px;

}

* {
  font-family: 'Montserrat', sans-serif;
}

.regular {
  font-weight: 400;
}
.semi-bold {
  font-weight: 600;
}
.bold{
  font-weight: 700;
}
h1{
  margin-top: 0;
}

.button-style{
  background: var(--primary-color);
}

.button-style:hover, .button-style:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--primary-color);
  transform: translateY(-0.25em);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

#button-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  transition: 0.25s;
}
#button-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 50px;
  color: #fff;
}

#button-to-top:hover {
  cursor: pointer;
}
#button-to-top.show {
  opacity: 1;
  visibility: visible;
}

/*--------------------------------------------------------------
# End back to top button
--------------------------------------------------------------*/

body {
  margin: 0;
  border: 0;
  background-color: #ffffff;
}
*{
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar .navbar__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 90px 15px 90px;
  font-weight: 600;
  background: #ffffff;
  z-index: 9000;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #E1E1E1FF ;
}


.navbar .navbar__wrapper .navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.navbar .navbar__wrapper .navbar__menu .navbar__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.navbar .navbar__wrapper .navbar__link a{
  display: block;
  position: relative;
  text-decoration: none;
  color: var(--heading);
  text-align: center;
  padding: 14px 16px;
  font-size: 14px;
  transition: 0.25s;
}

.navbar .navbar__wrapper .navbar__link a#about-button{
  color: white;
  border: 0;
  margin: 0;
  border-radius: 11px;
  transition: 0.25s;
}

.navbar .navbar__wrapper .navbar__link a:hover{
  color: var(--primary-color);
}

.navbar .navbar__wrapper .navbar__brand {
  color: var(--heading);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 14px 0;
  z-index: 2;

}



/* ------- Icon navbar ------- */
#nav-icon3 {
  width: 19px;
  height: 17px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 9000;
}

/* lines of Icon*/
#nav-icon3 span {
  display: none;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--heading);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 14px;
}

#nav-icon3.open span:nth-child(1) {
  top: 7px;
  width: 0;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%;
}

/* ------- End Icon navbar ------- */



/* ------- Responsive Navbar ------- */

.navbar-responsive {
  color: #fff;
  position: fixed;
  height: 100vh;
  width: 100%;
  transform: translate3d(-100%, 0, 0);
  transition: 0.3s all ease-in-out;
  z-index: 8999;
  top:0;
}
.navbar-responsive:after {
  content: "";
  z-index: -1;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
.navbar-responsive .navbar-responsive__nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  gap: 25px;
  padding: 0;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link {
  text-align: center;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a {
  display: block;
  padding: 15px;
  color: var(--theme-color);
  text-decoration: none;
  transition: 0.25s;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a:after {
  top: 50%;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a:hover {
  color: var(--primary-color)
}

.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a#about-button-responsive{
  color: white;
  border: 0;
  margin: 0;
  border-radius: 11px;
  transition: 0.25s;
}

@media screen and (max-width: 1115px) {
  .navbar .navbar__wrapper {
    padding: 15px 30px 15px 30px;
  }
}

@media (max-width: 768px) {
  .navbar__nav {
    display: none !important;
  }

  #nav-icon3 span {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .navbar__responsive {
    transform: translate3d(-100%, 0, 0) !important;
  }
}





/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  max-width: 1440px;
  min-height: 700px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto auto;
}

#hero-container {
  width: 100%;
  height: 100%;
  background: url("../img/hero-bg.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: center;
  padding: 0 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-container .left-container{
  display: flex;
  flex-direction: column;
  margin-top:110px;
  align-items: center;
}

#hero-container .city, #hero-container .address {
  margin: 0;
  color: #ffffff;
}

#hero-container .address{
  font-size: 120px;
}

#hero-container .city{
  font-size: 60px;
}





/*--------------------------------------------------------------
# Service Section
--------------------------------------------------------------*/
#info {
  max-width: 1440px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px;
  margin: 0px auto auto;
  gap: 80px;
  box-sizing: border-box;
}

@media screen and (max-width: 1115px){
  #info{
    padding: 70px 30px 30px;
    gap: 50px;
  }
}

@media screen and (max-width: 992px){
  #info {
    flex-direction: column;
    text-align: center;
    justify-content: start;
    height: auto;
    gap:20px;
  }
}

#info .left-container{
  display: flex;
  flex-direction: column;
  gap: 80px;
}

#info .left-container p{
  margin:0;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.5;
}

#info .left-container .service{
  display: flex;
  flex-direction: column;
}

#info .left-container .service .service-list{
  text-decoration: none;
  line-height: 2;
  padding: 0;
  list-style: none;
  margin:0;
  flex-wrap: wrap;
  display: flex;
  gap:20px;
}

#info .left-container .service .service-list li{
  flex: 1 0 25%;
}

#info .left-container .service .service-list li:before{
  content: "- ";
}

#info .right-container .summary-card{
  width: 372px;
  height: 467px;
  background-color: #ffffff;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.summary-card div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#info .title-section{
  font-size: 40px;
  display: inline-block;
}








/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/

#index-gallery {
  max-width: 1440px;
  position: relative;
  padding: 90px;
  margin: 0px auto auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
          "gallery-h1 gallery-h1 gallery-h1 gallery-h1"
          "img1 img2 img3 img4"
          "img5 img6 img3 img7"
;
  color: var(--theme-color);

}

#index-gallery .gallery-img{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 10px;
}

/* Images */
#index-gallery h1{
  grid-area: gallery-h1;
  font-size: 40px;
  display: inline-block;
}

#index-gallery .img1{
  grid-area: img1;
  background-image:url("../img/gallery/1.jpeg") ;

}

#index-gallery .img2{
  grid-area: img2;
  background-image:url("../img/gallery/2.jpeg") ;
}

#index-gallery .img3{
  grid-area: img3;
  background-image:url("../img/gallery/3.jpeg") ;
  height: 610px;
}

#index-gallery .img4{
  grid-area: img4;
  background-image:url("../img/gallery/4.jpeg") ;
}

#index-gallery .img5{
  grid-area: img5;
  background-image:url("../img/gallery/5.jpeg") ;
}

#index-gallery .img6{
  grid-area: img6;
  background-image:url("../img/gallery/6.jpeg") ;
}

#index-gallery .img7{
  grid-area: img7;
  background-image:url("../img/gallery/7.jpeg") ;
}


/* Gallery image titles */
.gallery-img div{
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.gallery-img div:hover{
  opacity: 0.3;
  border-radius: 10px;
  transition: all ease-in-out 100ms;
}


/* more images button */
#more-images {
  color: var(--theme-color);
  border: 0;
  margin: 0;
  border-radius: 11px;
  transition: 0.25s;
  padding: 14px 16px;
  font-size: 14px;
  position: absolute;
  right: 100px;
  bottom: 100px;
  background-color: #ffffff;
  border: 1px solid var(--theme-color);
  cursor:pointer;
}

#more-images:hover, #more-images:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--theme-color);
  transform: translateY(-0.25em);
}

#more-images div{
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Gallery carousel */
.img-window{
  width: 100vw;
  height: 100vh;
  background-color:#000000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9001;
}

.img-window img{
  max-height: 80vh;
  max-width: 80vw;
}

/* Next, Prev image */
.img-btn-next, .img-btn-prev{
  padding: 6px 10px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 9500;
  font-family : Arial , Helvetica , sans-serif;
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(176, 176, 176);
}

.img-btn-next{
  right: 30px;
}

.img-btn-prev{
  left: 30px;
}

.img-btn-next:hover, .img-btn-prev:hover{
  background-color: rgba(255, 255, 255, 0.4);
}


#counter {
  display: block;
  padding: 6px 10px;
  position: fixed;
  top: 1vh;
  z-index: 9500;
  font-family: Arial , Helvetica , sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.close-modal{
  position: fixed;
  color: white;
  z-index: 9500;
  cursor: pointer;
  border-radius: 11px;
  transition: 0.25s;
  padding: 14px 16px;
  font-size: 15px;
  top:2vh;
  left: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.close-modal i {
  font-size: 20px;
}

.close-modal:hover{
  background-color: rgba(255, 255, 255, 0.4);
}


@media screen and (max-width: 1115px){
  #index-gallery {
    padding: 70px 30px 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
          "gallery-h1 gallery-h1 gallery-h1"
          "img1 img2 img3"
          "img4 img5 img3"
  ;
  }
  .img6, .img7{
    display: none;
  }
  #more-images{
    right: 40px;
    bottom: 40px;
  }
}

@media screen and (max-width: 992px){
  #index-gallery {
    text-align: center;
  }
}



@media screen and (max-width: 740px){
  #index-gallery{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
          "gallery-h1 gallery-h1"
          "img1 img3"
          "img2 img3";
  }
  .img4, .img5, .img6, .img7{
    display: none;
  }
}

@media screen and (max-width: 500px){
  #index-gallery{
    grid-template-columns: 1fr;
    grid-template-areas:
          "gallery-h1"
          "img1"
          "img2";
  }
  .img3,.img4, .img5, .img6, .img7{
    display: none;
  }
}


@media screen and (max-width: 414px) {
  #index-gallery h1{
    font-size: var(--fs-title-resp);
  }

  #index-gallery {
    padding: 70px 20px 20px;
  }

  #more-images{
    right: 30px;
    bottom: 30px;
  }

  .img-btn-next, .img-btn-prev{
    top: 85vh;
  }

  .img-btn-next{
    right: 30vw;
  }

  .img-btn-prev{
    left: 30vw;
  }
}



/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
#contact {
  max-width: 1440px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 90px;
  margin: 0px auto auto;
  gap: 80px;
  background: #ffffff;
  box-sizing: border-box;
  color: var(--theme-color);

}

#contact .title-section{
  font-size: 40px;
  display: inline-block;
}

#contact .left-container {
  width: calc(100% - 270px);
}

#contact .left-container iframe{
  width: 100%;
}

#contact .right-container .contact-card {
  width: auto;
  height: 467px;
}

#contact .right-container .contact-card .single-contact{
  display: flex;
  align-items: center;
  gap: 20px;
}
#contact .right-container .contact-card i{
  font-size: 20px;
  color: #0563bb;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

#contact .right-container .contact-card .single-contact p{
  margin-top: 3px;
}

#contact .right-container .contact-card .single-contact h3{
  margin-bottom: 0;
}

@media screen and (max-width: 1115px){
  #contact{
    padding: 70px 30px 30px;
  }
}

@media screen and (max-width: 992px){
  #contact{
    flex-direction: column-reverse;
  }

  #contact .left-container,  #contact .right-container {
    width: 100%;
  }


  #contact .right-container .contact-card{
    width: 100%;
    height: auto;
    text-align: center;
  }

  #contact .right-container .contact-card .single-contact{
    text-align: left;
  }
}

@media screen and (max-width: 414px){
  #contact{
    padding: 70px 20px 20px;
    gap: 40px;
  }

  #contact .title-section{
    font-size: var(--fs-title-resp);
  }

  #contact .right-container .contact-card .single-contact p{
    font-size: var(--fs-p-resp);
  }

  #contact .right-container .contact-card .single-contact h3{
    font-size: 18px;
  }

}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

.site-footer {
  width: 100%;
  height: 150px;
  background:var(--theme-bg-color);
  padding:20px 90px 20px 90px;
  font-size:15px;
  line-height:24px;
  color: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.site-footer .copyright-text{
  text-align: center;
}

.site-footer a {
  color: var(--theme-color);
}

@media screen and (max-width: 414px){
  .site-footer
  {
    padding:20px;
    font-size:12px;
  }
}